@model Cinemory.Models.Movie

@{
	ViewData["Title"] = Model.Name;
}

<div class="container mt-5">
	<div class="row">
		<div class="col-md-4">
			@if (!string.IsNullOrEmpty(Model.Profile?.PosterUrl))
			{
				<img src="/images/@Model.Profile.PosterUrl" alt="@Model.Name Poster" class="img-fluid rounded shadow" />
			}
			else
			{
				<img src="/images/posters/bladerunner.jpg" alt="No Poster" class="img-fluid rounded shadow" />
			}
		</div>

		<div class="col-md-8">
			<h2>@Model.Name (@Model.Year)</h2>
			<p><strong>Director:</strong> @Model.Director?.FullName</p>

			<p>
				<strong>Genres:</strong>
				@string.Join(", ", Model.Genres.Select(g => g.Genre.Name))
			</p>

			<p>
				<strong>Actors:</strong>
				@string.Join(", ", Model.Actors.Select(a => a.Actor.FullName))
			</p>

			@if (!string.IsNullOrWhiteSpace(Model.Profile?.Synopsis))
			{
				<div class="mt-3">
					<h5>Synopsis</h5>
					<p>@Model.Profile.Synopsis</p>
				</div>
			}

			@if (!string.IsNullOrWhiteSpace(Model.Profile?.TrailerUrl))
			{
				<h5>Watch Trailer</h5>
				<iframe class="embed-responsive-item"
						style="width: 100%; height: 315px;"
						src="@Model.Profile.TrailerUrl"
						frameborder="0"
						allowfullscreen>
				</iframe>
			}


			
			
		</div>
	</div>
</div>
