@model Cinemory.Models.MovieProfile

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>MovieProfile</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Synopsis)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Synopsis)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PosterUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PosterUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TrailerUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TrailerUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Movie)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Movie.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
