@model Cinemory.Models.ViewModels.UserFeedViewModel;
﻿@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

@{
	ViewBag.NavMenu = "User Feed";
	Layout = "_Layout";
}

@{
    string? username = null;
    bool isAdmin = false;

    if (SignInManager.IsSignedIn(User))
    {
        var user = await UserManager.GetUserAsync(User);
        username = user?.UserName;
        isAdmin = await UserManager.IsInRoleAsync(user, "Admin");
    }
}


<h2 class="welcome-header">
    Welcome back, <span>@username</span>!
</h2>



<div class="user-feed-layout">

    <!-- SOL PANEL -->
    <div class="left-panel">
        <h3 class="feed-h3">Last watched...</h3>
        @foreach (var movie in Model.LastWatched)
        {
            <div class="feed-card">
                <img src="@("/images/posters/" + movie.PosterUrl)" class="feed-card-img" />
                <div class="feed-title-overlay">
                    @movie.Name
                </div>
            </div>
        }

        <h3 class="feed-h3">Watchlisted...</h3>
        @foreach (var movie in Model.Watchlisted)
        {
            <div class="feed-card">
                <img src="@("/images/posters/" + movie.PosterUrl)" class="feed-card-img" />
                <div class="feed-title-overlay">
                    @movie.Name
                </div>
            </div>
        }
    </div>

    <!-- ORTA PANEL -->
    <div class="center-panel">
        <h3 class="feed-h3">Recently added...</h3>
        @foreach (var movie in Model.RecentlyAdded)
        {
            <div class="feed-card">
                <img src="@("/images/posters/" + movie.PosterUrl)" class="feed-card-img" />
                <div class="feed-title-overlay">
                    @movie.Name
                </div>
            </div>
        }

        <h3 class="feed-h3">Recommended for you...</h3>
        @foreach (var movie in Model.Recommended)
        {
            <div class="feed-card">
                <img src="@("/images/posters/" + movie.PosterUrl)" class="feed-card-img" />
                <div class="feed-title-overlay">
                    @movie.Name
                </div>
            </div>
        }
    </div>

    <!-- SAĞ PANEL -->
    <div class="right-panel">
        <h3 class="feed-h3">News...</h3>
        <iframe src="@Model.RssWidgetUrl"
                width="100%"
                height="600px"
                style="border: none;">
        </iframe>
    </div>

</div>